# Исключаем временные файлы компилятора во всех папках
**/*.dcu
**/*.dcp
**/*.ddp
**/*.local
**/*.log
**/*.tds
**/*.tli
**/*.tlh
**/*.compiled
**/*.dcu64
**/*.dcp64
**/*.ddp64
**/*.dcu32
**/*.dcp32

# Исключаем файлы ресурсов и скомпилированные ресурсы во всех папках
**/*.res
**/*.res64
**/*.res32

# Исключаем файлы автосохранения во всех папках
**/*.~
**/*.bak
**/*.old

# Исключаем файлы базы данных во всех папках
**/*.db
**/*.fdb
**/*.mdf
**/*.ldf
**/*.sdf

# Исключаем файлы логов во всех папках
**/*.log

# Исключаем файлы настроек среды разработки во всех папках
**/*.dproj.local
**/*.dproj.user
**/*.dproj.idb
**/*.dproj.schemaversioncache

# Исключаем файлы дизайнеров во всех папках
**/*.dfm
**/*.nfm
**/*.xfm
**/*.dres

# Исключаем файлы компонентов во всех папках
**/*.dpk
**/*.dpk.local
**/*.dpk.user

# Исключаем файлы библиотек во всех папках
**/*.bpl
**/*.bpl64
**/*.bpl32

# Исключаем файлы отладки во всех папках
**/*.map
**/*.dbg
**/*.jdbg
**/*.tgs

# Исключаем файлы конфигурации среды разработки во всех папках
**/*.cfg
**/*.cfg.local
**/*.cfg.user

# Исключаем файлы IDE во всех папках
**/*.dproj.idb
**/*.dproj.schemaversioncache
**/*.dproj.user
**/*.dproj.local

# Исключаем папки сборки во всех папках
**/bin/
**/obj/
**/output/

# Исключаем папки логов во всех папках
**/logs/

# Исключаем папки временных файлов во всех папках
**/temp/

# Исключаем файлы, связанные с версионированием Delphi
**/*.identcache
**/*.tvsschemes
**/*.tvsconfig

# Исключаем файлы, связанные с историей изменений
**/*.history/
**/*.history

# Исключаем файлы, связанные с автосохранением
**/~*
**/.gitignore
